@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-family: 'poppins', 'sans-serif';
  font-size: 18px;
  line-height: normal;
  background-color: #fcf5e7;
  letter-spacing: .5px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (min-width: 1200px) {
.container {
  width: 100%;
  max-width: 1200px;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  position: relative;
}

.carousel-indicators { 
  visibility: hidden; 
}

.carousel-control-prev-icon { 
  background-image: url(./images/arrow-head.png);
  width: 25px;
  height: 46px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.carousel-control-next-icon {
  background-image: url(./images/arrow-head.png);
  width: 25px;
  height: 46px;
}
.breadcrumb {
  background-image: url(./images/breadcrumb-banner.jpg);
  padding: 50px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}
.breadcrumb li {
  display: inline-block !important;
}