@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');
body {
  font-family: 'poppins', 'sans-serif';
  font-size: 18px;
  line-height: normal;
  background-color: #fff;
  letter-spacing: .5px;
  direction: ltr;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #232323;
  line-height: 1.25em;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 5px;
  background-color: #ddd
}

*::-webkit-scrollbar-thumb {
  background-color: #c69155;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1)
}
a {
  text-decoration: none;
  cursor: pointer
}
ul {
  list-style: none;
  padding-left: 0;
}
.container {
  position: relative;
}

@media(min-width: 480px) {
  .container {
      max-width:420px;
  }
}

@media(min-width: 575px) {
  .container {
      max-width:480px
  }
}

@media(min-width: 576px) {
  .container {
      max-width:530px
  }
}

@media(min-width: 768px) {
  .container {
      max-width:720px
  }
}

@media(min-width: 992px) {
  .container {
      max-width:768px
  }
}

@media(min-width: 1024px) {
  .container {
      max-width:992px;
  }
}

@media(min-width: 1200px) {
  .container {
      width:100%;
      max-width: 1200px
  }
}
.tb-left-layout, body#checkout #wrapper>.container {
    margin-top: 30px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  position: relative;
}

.carousel-indicators { 
  visibility: hidden; 
}

.carousel-control-prev-icon { 
  background-image: url(./images/arrow-head.png);
  width: 25px;
  height: 46px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.carousel-control-next-icon {
  background-image: url(./images/arrow-head.png);
  width: 25px;
  height: 46px;
}
.breadcrumb {
  background-image: url(./images/breadcrumb-banner.jpg);
  padding: 50px 0;
  text-align: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}
.breadcrumb li {
  display: inline-block !important;
}